*,html ,body{
  margin: 0;
  padding: 0;
font-family: "Silkscreen", sans-serif;
}

:root {
  --bg-primary:rgb(70,89,255);
  --bg-secondary:#eaeaea;
  --text-primary:#f7f7f7;
  --text-secondary:#222222;
}
.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: var(--bg-primary);
}

.wraper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  width: 40%;
  border: 2px solid white;
background-color: var(--bg-secondary);
color: var(--text-secondary);
padding: 32px;
margin: 8px;
box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
.text-center {
  text-align: center;
}

.icons {
  font-size: auto;
}
.title {
  margin-top: 8px;
  font-size: 24px;
}
.description {
  margin-top: 8px;
  font-size: 0.5em;
}
.btn{
  margin-top: 16;
  padding: 8px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
.btn:hover {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: 0.3s ease-in-out;
}
.tambahan {
  
}
.tes {
  background-color: tomato;
  text-align: center;
}



@media screen and (max-width:1200px){
  .card {
    width: 95%;
  }
}